<div id="section-structure-data-types" class="learn-section {% if page.url != '/learn/structure-data-types' %}hidden{% endif %}">
  <div class="learn-home-content editor data-types-editor">

    <div class="tabs">
      <i class="fa fa-search"></i> 
      <ul>
        <li>Editor</li>
        <li>Documentation</li>
        <li class="active">Data Types</li>
      </ul>
    </div>

    <div class="data-types-editor-content hidden">
      <h3>Custom Data Types</h3>
      <div class="placeholder">
        <div>
          <i class="fa fa-object-group"></i>
          <h4>No custom data types have been defined.</h4>
          <p>
            Data types are referenced in the input and output values for decision
            tables. Custom data types allow you to reference more complex data types,
            beyond the simple "default" types.
          </p>
          <p>
            Currently, there are no custom data types available for you to view or
            edit. To get started, add a custom data type.
          </p>
          <button class="add-custom-data-type btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            <span>Add a custom Data Type</span>
          </button>
        </div>
      </div>
    </div>

    <div class="data-types-editor-content">
      <h3>Custom Data Types</h3>
      <div class="data-types-list">

        <div class="first-data-type data-types-closed-row structure hidden">
          <div class="name"></div>
          <div class="type"></div>
          <i class="fa fa-pencil"></i>
          <i class="fa fa-plus-circle"></i>
          <i class="fa fa-trash"></i>
        </div>

        <div class="second-data-type data-types-closed-row nested hidden">
          <div class="name"></div>
          <div class="type"></div>
          <i class="fa fa-pencil"></i>
          <i class="fa fa-plus-circle"></i>
          <i class="fa fa-trash"></i>
        </div>

        <div class="third-data-type data-types-closed-row nested hidden">
          <div class="name"></div>
          <div class="type"></div>
          <i class="fa fa-pencil"></i>
          <i class="fa fa-plus-circle"></i>
          <i class="fa fa-trash"></i>
        </div>

        <div class="data-types-row">
          
          <div class="data-type-field">
            <label>Name</label>
            <input type="text">
          </div>
          
          <div class="data-type-field">
            <label>Type</label>
            <div class="dropdown-component">
              <div class="dropdown-button">
                <span>- Select a data type -</span>
                <i class="fa fa-angle-down"></i>
              </div>
              <ul class="dropdown-list hidden">
                <li class="dropdown-header">Default</li>
                <li>Any</li>
                <li>boolean</li>
                <li>context</li>
                <li>date</li>
                <li>date and time</li>
                <li>days and time duration</li>
                <li>number</li>
                <li>string</li>
                <li>time</li>
                <li>years and months duration</li>
                <li class="structure"><i class="fa fa-object-group"></i> Structure</li>
              </ul>
            </div>
          </div>

          <div class="data-type-field list-data-type">
            <i class="fa fa-th-list"></i>
            List
            <div class="slider"></div>
          </div>

          <div class="data-type-field constraints">
            <a href="#" class="">
              <i class="fa fa-compress"></i>
              <span>Add Constraints</span>
            </a>
          </div>

          <i class="fa fa-check"></i>
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>

    <div class="properties-panel">
      <i class="fa fa-map"></i>
      <i class="fa fa-edit"></i>
      <i class="fa fa-eye"></i>
    </div>

  </div>
</div>

<script type="text/javascript">
  (function() {

    var page;
    var step = 0;

    // === Init ===

    window.LEARN_DMN = window.LEARN_DMN || {};
    var LEARN_DMN = window.LEARN_DMN;
    LEARN_DMN.Navigation.ON_LOAD_SECTION = LEARN_DMN.Navigation.ON_LOAD_SECTION || {};

    function showFieldsMessage() {
      LEARN_DMN.Lights.turnLightsOn();
      LEARN_DMN.Message.showMessage({
        title: '↑ Look!',
        content: '<p>Insert a name and select a Structure as type. (TODO)</p>',
        width: 400,
        height: 140,
        top: 240,
        left: 20,
        effect: 'vertical-float'
      });
    }
    
    LEARN_DMN.Navigation.ON_LOAD_SECTION['section-structure-data-types'] = function() {

      LEARN_DMN.Lights.turnLightsOff();

      LEARN_DMN.Message.showMessage({
        title: 'Hey!',
        content: 'Lets create a strucutre (TODO)',
        width: 400,
        height: 200,
        actionName: 'Start now',
        action: showFieldsMessage
      });
    }

    // === Utility ===

    function getPage() {
      if (page === undefined) {
        page = document.querySelector('#section-structure-data-types');
      }
      return page;
    }

    // === Setup ===

    function setupNameInput() {
      var nameInput = getPage().querySelector('.data-types-row [type="text"]');
      nameInput.addEventListener('keydown', LEARN_DMN.Message.hideMessage);
    }

    function setupDropdown() {
      
      var dropdownButton = getPage().querySelector('.dropdown-button');
      var dropdownItems = getPage().querySelectorAll('ul.dropdown-list li');

      function getDropDownList() {
        return getPage().querySelector('.dropdown-list');
      }

      dropdownButton.addEventListener('click', function() {
        LEARN_DMN.Message.hideMessage();
        getDropDownList().classList.toggle('hidden');
      });

      dropdownItems.forEach(function(item) {
        item.addEventListener('click', function() {
          var editModeRow = getPage().querySelector('.data-types-row');
          
          dropdownButton.querySelector('span').textContent = item.textContent;
          getDropDownList().classList.add('hidden');
        });
      });
    }

    function setupSaveButton() {
      var saveButton = getPage().querySelector('.data-types-row .fa-check');
      var nameInput = getPage().querySelector('.data-types-row [type="text"]');

      function handleFirstStep() {

        var dropdownButton = getPage().querySelector('.dropdown-button');
        var nameInput = getPage().querySelector('.data-types-row [type="text"]');
        var type = dropdownButton.textContent.trim();
        var name = nameInput.value;

        if (name.length > 0 && type === 'Structure') {

          var firtDataTypeRow = getPage().querySelector('.first-data-type');
          var typeField = firtDataTypeRow.querySelector('.type');
          var nameField = firtDataTypeRow.querySelector('.name');

          firtDataTypeRow.classList.remove('hidden');
          typeField.textContent = '(Structure)';
          nameField.textContent = name;

          LEARN_DMN.Message.showMessage({
            title: '↑ Look!',
            content: '<p>Insert a name and select a as type. (TODO) not strucutre</p>',
            width: 400,
            height: 140,
            top: 300,
            left: 20,
            effect: 'vertical-float'
          });

          step = step + 1;

          dropdownButton.querySelector('span').textContent = '- Select a data type -';
          nameInput.value = '';

        } else {
          LEARN_DMN.Lights.turnLightsOff();
          LEARN_DMN.Message.showMessage({
            title: 'Oops!',
            content: 'Try to <b>insert a name</b> and <b>select a type</b> (TODO) is not strucutre!',
            width: 400,
            height: 140,
            action: function() {
              LEARN_DMN.Lights.turnLightsOn();
            }
          });
        }
      }

      function handleSecondStep() {
        
      }

      function handleThirdStep() {
        
      }

      saveButton.addEventListener('click', function() {
        var name = nameInput.value;
        var type = getPage().querySelector('.dropdown-button').textContent.trim();

        switch(step) {
          case 0:
            handleFirstStep();
            break;
          case 1:
            handleSecondStep();
            break;
          case 2:
            handleThirdStep();
            break;
        }
      });
    }

    setupNameInput();
    setupDropdown();
    setupSaveButton();
  }());
</script>
