<div class="learn-home-sidebar">
  <h3 class="title">
    Lessons
  </h3>
  <ul class='summary'>
    <li data-section="section-introduction">
      Introduction
    </li>
    <li data-section="section-visual-notation">
      Visual notation
    </li>
    <li data-section="section-decision-logic">
      Decision logic
    </li>
    <li data-section="section-the-feel-language">
      The FEEL language
    </li>
    <li data-section="section-data-types">
      Data Types
    </li>
    <li data-section="section-reusability">
      Reusability
    </li>
    <li data-section="section-integrate">
      Integrate!
    </li>
  </ul>
</div>
