<div class="learn-home-sidebar">
  <h3 class="title">
    Lessons
  </h3>
  <ul class='summary'>
    <li>
      <a href="/learn/introduction">Introduction</a>
    </li>
    <li>
      <a href="/learn/visual-notation">Visual notation</a>
    </li>
    <li>
      <a href="/learn/decision-logic">Decision logic</a>
    </li>
    <li>
      <a href="/learn/data-types">Data types</a>
    </li>
    <li class="sub-section">
      <a href="/learn/simple-data-types">Simple data types</a>
    </li>
    <li class="sub-section">
      <a href="/learn/structure-data-types">Structure data types</a>
    </li>
    <li>
      <a href="/learn/the-feel-language">The FEEL language</a>
    </li>
    <li>
      <a href="/learn/integrate">Integrate!</a>
    </li>
  </ul>
</div>

<script src="/assets/js/summary.js"></script>
