
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-light: #FFFFFF
$color-light-gray: #D1D1D1
$color-dark-gray: #ADADAD
$color-dark: #323232
$color-primary: #0066CC
$color-secondary: #054e98
