
// Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––

footer
  @extend .container
  color: $color-quaternary
  border-top: .1rem solid $color-tertiary
  padding: 3rem 0
  margin-top: 3rem
  font-size: 1.5rem
  text-align: center
