
// Home
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.home-banner,
.home-sub-banner
  max-width: 1200px
  margin: 0 auto

.home-banner
  background-image: url(/assets/logo.png)
  height: 310px
  margin-top: 5px
  border-bottom: 3px solid #DDD
  background-size: 380px
  background-repeat: no-repeat
  padding: 0 0 0 475px
  background-position-x: 75px
  h1
    font-size: 10rem
    padding-top: 4.5rem
    span
      display: block
      line-height: 7.5rem
      color: #a0a6a9
      i
        font-style: normal
        color: $color-secondary

  @media (max-width: 70.0rem)
    &
      margin-top: 30px
      background-size: 200px
      padding: 180px 0 0
      background-position: center top
      height: 300px
      h1
        font-size: 6rem
        padding: 0
        text-align: center
        span
          display: inline-block

  @media (max-width: 45.0rem)
    &
      height: 350px
    h1
      span
        display: block

.home-sub-banner
  margin-top: 25px
  text-align: center
  button
    background-color: $color-primary
    border: .1rem solid $color-primary
    margin: 2.25rem auto 1.5rem
    line-height: 3rem
    border-bottom: .4rem solid #e09242
    padding: 0 7rem
    height: 80px
    border-radius: 0.4rem 0.4rem 0.6rem 0.6rem
    font-size: 1.75rem
    text-shadow: 0 0.2rem 0 #e2882c
    box-shadow: 0 0 0 5px rgba(49, 49, 49, .1)
    transition: all .25s ease-in-out
    &:hover
      filter: contrast(1.5)
  .try,
  .or
    font-family: "Roboto", serif
    font-style: italic
    margin: 0 auto
    color: #75787b
    width: 30rem
    font-size: 1.5rem
    text-align: center
  .try
    text-decoration: underline
    line-height: 1.75em
    font-size: 1.75rem
    margin-bottom: 4rem
    display: block
  p
    margin: 0 12rem 2rem
    opacity: .95
    text-align: left
    // & + p
    //   margin: 0 18rem 3rem
  @media (max-width: 45.0rem)
    p, p + p
      margin: 0 2rem 3rem
  .or
    &:after,
    &:before
      padding: 0 15px
      content: "―"
      opacity: .5
