
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix

  &:after
    clear: both
    content: ' ' // The space content is one way to avoid an Opera bug.
    display: table

// Float either direction
.float-left
  float: left

.float-right
  float: right

.hidden
  display: none

.lights-off
  &::after,
  &::before
    content: " "
    position: fixed
    background: rgba(0, 0, 0, 0.8)
    z-index: 1
    top: 0
  &::after
    width: calc(100% - 300px)
    height: 100%
    left: 0
  &::before
    width: 300px
    height: 60px
    left: calc(100% - 300px)
  .learn-home-content
    filter: blur(2px)
  .learn-controls,
  .learn-home-sidebar
    filter: brightness(.5)


.box.closed
  opacity: 0
