---
layout: default
---

<div class="home-banner">
    <h1>
        Learn DMN
        <span>in <i>15</i> minutes</span>
    </h1>
</div>

<div class="home-sub-banner">
    <p>
        The Decision Model and Notation (DMN™) is a Standard by OMG® providing a common and visual notation readily understandable by all users and personas.</p><p>With DMN, business analysts can define the initial decision requirements and then formalize more detailed decision models; technical developers can automate the decisions in any process with a portable execution semantic, while business stakeholders can manage and monitor those decisions.
    </p>
    <button class="start-now">Start learning NOW!</button>
    <p class="or">or</p>
    <a target="_blank" href="https://kiegroup.github.io/kogito-online/#/editor/dmn">Open Kogito online editor</a>
</div>

{% include footer.html %}

<script type="text/javascript">
(function(){
    var startNowButton = document.querySelector('.start-now');
    startNowButton.addEventListener('click', function() {
        // TODO: animation logic
        window.location.href = "/learn";
    });
}());
</script>
