---
layout: default
---

<div class="home-banner">
  <h1>
    Learn DMN
    <span>in <i>15</i> minutes</span>
  </h1>
</div>

<div class="home-sub-banner">
  <button class="start-now">Start learning NOW!</button>
  <p class="or">or</p>
  <a class="try" href="https://dmn.new">Try the DMN online editor</a>
  <p>
    The Decision Model and Notation (DMN™) is a Standard by <a href="https://www.omg.org">OMG®</a>, providing a
    conventional and visual notation readily
    understandable by all users and personas.
  </p>
  <img src="/assets/sample-dmn.png" />
  <p>
    With DMN, business analysts can define the initial decision requirements and then formalize more detailed decision
    models, technical developers can automate the decisions in any process with a portable execution semantic, and
    business stakeholders can manage and monitor those decisions.
  </p>
  <p>
    Manage any decision complexity by decomposing and structuring decision services with Decision Requirement Graph
    (DRG).
  </p>
</div>

{% include footer.html %}

<script src="/assets/js/home.js"></script>
