---
layout: default
---

<script src="/assets/js/page.js"></script>
<script src="/assets/js/message.js"></script>
<script src="/assets/js/lights.js"></script>
<script src="/assets/js/navigation.js"></script>

<div class="learn-home">
  <div class="learn-home-nav">
    <h3>
      Learn DMN
      <span>in 15 minutes</span>
    </h3>
  </div>

  {{ content }}

  {% include section-introduction.html %}
  {% include section-visual-notation.html %}
  {% include section-decision-logic.html %}
  {% include section-data-types.html %}
  {% include section-simple-data-types.html %}
  {% include section-structure-data-types.html %}
  {% include section-the-feel-language.html %}
  {% include section-integrate.html %}

  {% include summary.html %}
  {% include controls.html %}
</div>

<script type="text/javascript">
  LEARN_DMN.Message.setupMessage();
  LEARN_DMN.Navigation.setupNavigation();
  LEARN_DMN.Navigation.setupSummaryItems();
</script>
