---
layout: default
---

<div class="learn-home">
  <div class="learn-home-nav">
    <h3>
      Learn DMN
      <span>in 15 minutes</span>
    </h3>
  </div>

  {% include section-data-types.html %}
  {% include section-decision-logic.html %}
  {% include section-integrate.html %}
  {% include section-introduction.html %}
  {% include section-reusability.html %}
  {% include section-the-feel-language.html %}
  {% include section-visual-notation.html %}

  {% include summary.html %}
  {% include controls.html %}
</div>
<script src="/assets/js/message.js"></script>
<script src="/assets/js/learn.js"></script>
